button:focus {
  outline: none !important;
  box-shadow: none !important;
}



.food-card {
  border-radius: 16px;
    padding: 20px;
  width: 250px;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* background-color: aqua; */
  margin: 0px!important;
 

}

.food-card:hover {
  transform: scale(1.05);
}

.food-content {
  transform-style: preserve-3d;
  position: absolute;
  top: 30%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  padding-top: 80px;
  margin-right: 10px;
  height: 200px;

  z-index: 1;
  border-radius: 16px;
}

.food-content:hover {
  background: #fafafa;
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.food-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 200px;
  margin-left: 40px;
  z-index: 2;
}

.food-image {
  width: 180px;
}

.food-price {
  position: absolute;
  bottom: 130px;
  right: 0px;
  background: #111;
  color: #fff;
  font-weight: bold;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.food-title {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 5px;
}

.food-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
}

.food-icons {
  position: absolute;
  bottom: 15px;
  right: 65px;
  display: flex;
  gap: 10px;
}

.food-icons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease, color 0.3s ease;
}

.food-icons button:hover {
  transform: scale(1.2);
}

.heart-btn {
  color: #000000;
}

.heart-btn.liked {
  color: red;
}

.cart-btn {
  color: #000;
}
.slick-dots {
  left: -35px; /* move dots lower */
}



.cart-btn.added:focus {
  color: #ddfb32;

  
}

/* Animation for the checkmark */
@keyframes checkmarkAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.tick-added{
  color: black;
}
