.home-overall{
 position: relative;

   width: 100vw;
  height: 100vh;
  overflow-x: hidden;


<<<<<<< HEAD
<<<<<<< HEAD
/* background-color: aqua; */
}
=======
/* background-c
>>>>>>> 47cb3df (correct corrupted git files)
=======
/* background-color: aqua; */
}
>>>>>>> 28558ce (feature :adminDashboard Sidebar)
