.home-overall{
 position: relative;

   width: 100vw;
  height: 100vh;
  overflow-x: hidden;


<<<<<<< HEAD
/* background-color: aqua; */
}
=======
/* background-c
>>>>>>> 47cb3df (correct corrupted git files)
