@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');



:root {
  --primary: #ff5b22;
  --secondary: #ffa27f;
  --optional:#e3230d;
  --background: #fcfaee;
  --text: #222222;
  --inside: #efeaea;
}





body{
   background-color: var(--background);
   /* background-color: red ; */
  width: 100%;
  position: relative;
  z-index: -1;
  min-height: 100vh;
  margin: 0;      /* remove default body margin */
  
  overflow-x: hidden; /* optional: hide horizontal overflow */
  color: var(--text);
}